# Site specific configuration
site.mak

# Qt Creator project files
perfgrind.config
perfgrind.creator*
perfgrind.files
perfgrind.includes

# Build artifacts
pgcollect
pgconvert
pginfo

# Test artifacts
pginfo_dbg
*.pgdata
*.grind

# clangd info (usable directly or via llvm-vs-code-extensions.vscode-clangd)
# and Doxygen documentation
compile_commands.json
*.idx
html
